
body {
    margin: 0;
    padding: 0;
   
}

section {
    margin: 100px auto;
    padding: 20px;
    max-width: 600px;
    background-color: #22272b;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
}

label {
    font-size: 16px;
    font-weight: bold;
    color: #aaa;
}

input, select, textarea {
    width: 90%;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 16px;
    border: 1px solid #ffffff;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 14px;
    background-color: #22272b;
    color: #ddd;
}

input:focus, select:focus, textarea:focus {
    border-color: #52fb18;
    outline: none;
    box-shadow: 0 0 8px 2px #52fb18;
}

button {
    width: 90%;
    padding: 12px;
    background-color: #333;
    color: #52fb18;
    border: 1px solid #52fb18;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #52fb18;
    color: #1b1b1b;
}

p {
    font-size: 14px;
    color: #ddd;
}

/* Estilos para las secciones  */
#presentacion p {
    font-size: 18px;
    color: #bbb;
    text-align: justify;
}

h2 {
    margin-top: 40px;
    font-size: 22px;
    color: #52fb18;
    text-align: center;
    text-shadow: 0 0 10px #52fb18;
}

h3{
    color: #ffffff;
}

#resultadoSuma, #resultadoConversion, #resultadoConversionPolar {
    font-weight: bold;
    font-size: 18px;
    color: #52fb18;
    text-align: center;
    text-shadow: 0 0 px #52fb18;
}

#informacionMU h1 {
    font-size: 24px;
    text-align: center;
    color: #52fb18;
    text-shadow: 0 0 8px #52fb18;
}

#Comentarios h2 {
    text-align: center;
    color: #52fb18;
    text-shadow: 0 0 8px #52fb18;
}

#commentForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#commentForm input, 
#commentForm textarea {
    color: #ffffff;
    padding: 10px;
    box-decoration-break:initial;
    border-radius: 4px;
    font-size: 16px;
    width: 90%; 
    box-sizing: border-box; 
    background-color: #141517;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #52fb18;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Hover y focus effects */
input[type="number"]:hover, select:hover, textarea:hover {
    border-color: #52fb18;
    box-shadow: 0 0 6px 2px #52fb18;
}
